<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <title>NodeJS Test Cafe</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">

<body>
    <div class="container">
        <div class="row area">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="md-form active-pink active-pink-2 mb-3 mt-0">

                    <form action="/" method="post">
                        <div class="form-group">
                            <label class="text-white" for="title">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Endter Todo">
                        </div>
                        <div class="form-group">
                            <label class="text-white" for="company">Time</label>
                            <input type="text" class="form-control" name="time" placeholder="Enter time">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/" class="btn btn-success">Cancel</a>
                    </form>

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>


</html>